@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

.wrapper {
    padding: 50px 30px;
}

.button-wrapper {
  position: relative;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.button-wrapper span.label {
  cursor: pointer;
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: #1890ff;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  text-transform:uppercase;
  font-size:12px;
}

#upload {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.ant-row{
  display: block;
}