
.root{
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.root_layout{
    position: fixed;
    width: 100%;
}

.contentContainer{
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}
.content{
    flex: 1 1 auto;
    height: 100%;
    overflow: auto
}
