
.root{
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.wrapper{
    display: flex;
    flex: 1 1 auto;
    height: 100vh;
    padding-top: 64px
}
.contentContainer{
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}
.content{
    flex: 1 1 auto;
    height: 100%;
    overflow: auto
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1890ff; 
}
::-webkit-scrollbar-thumb:hover {
  background: #1e3850; 
}